---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Pillars from "../components/Pillars.astro";
import Showcase from "../components/Showcase.astro";
import Keyboard from "../components/Keyboard.astro";
import Narrative from "../components/Narrative.astro";
import UnderTheHood from "../components/UnderTheHood.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main id="top">
    <Hero />
    <HowItWorks />
    <Pillars />
    <Showcase />
  </main>
  <Keyboard />
  <Narrative />
  <UnderTheHood />
  <Footer />
</Layout>
